<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidtechnote">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTechNote"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".recycler.custom_focus.CustomFocusActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".telephonymanager.TelephonyManagerActivity"
            android:exported="false" />
        <activity
            android:name=".eventobserver.EventObserverActivity"
            android:exported="false" />
        <activity
            android:name=".coordinator.bottomsheet.BottomSheetActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager2.EmptyActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager2.ViewPager2Activity"
            android:exported="false" />
        <activity
            android:name=".ktor.KtorActivity"
            android:exported="false" />
        <activity
            android:name=".recycler.epoxy.EpoxyActivity"
            android:exported="false" />
        <activity android:name=".room.view.RoomDbActivity" />
        <activity android:name=".room.view.AddActivity" />
        <activity android:name=".coordinator.CoordinatorActivity"/>
        <activity
            android:name=".camera.camerakit_library.CameraXActivity"
            android:theme="@style/CameraTheme" />
        <activity android:name=".recycler.paging3.PagingActivity" />
        <activity android:name=".recycler.paging3.contentresolver.PgCrActivity" />
        <activity android:name=".recycler.paging3.retrofit.PgRetrofitActivity" />
        <activity android:name=".recycler.paging3.basicforloop.PgBasicActivity" />
        <activity android:name=".myworkmanager.WorkManagerActivity" />
        <activity android:name=".myworkmanager.videodown.FileDownActivity" />
        <activity android:name=".myworkmanager.basicwork.BasicWorkManagerActivity" />
        <activity android:name=".navigation.NavigationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>